
<div class="card" style="width:400px">
    <div class="card-body">
        <h4 class="card-title">@Model.name</h4>
        <p class="card-text">@Model.description - @Model.price</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <img class="card-img-bottom" src="/images/@Model.Image" alt="Card image" style="width:100%">

</div>
